---
title: "Research"
layout: content
permalink: /research/
---

<h1>Research</h1>
<hr />

<h3>List of topics</h3>
<ul>
    {% for research in site.data.research %}
    <li><a href="#{{ research.html_id }}">{{ research.title }}</a></li>
    {% endfor %}
</ul>

<hr />

<div class="container">
    {% for research in site.data.research %}
    <h2 id="{{ research.html_id }}">{{ research.title }}</h2>
    <div class="row mb-4">
        {% if research.image %}
        <div class="col-md-3">
            <img src="{{ site.dir_resources_images | relative_url }}/{{ research.image }}" alt="Image for project {{ research.title }}" class="img-fluid img-thumbnail rounded mb-2" />
        </div>
        <div class="col-md-9">
            <p>{{ research.description }}</p>
        </div>
        {% else %}
        <div class="col-md-12">
            <p>{{ research.description }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
