<div class="card m-1">
    {% if person.photo %}
    {% assign photo_link = site.dir_resources_images | append: '/team/' | append: person.photo %}
    {% else %}
    {% assign photo_link = site.dir_theme_images | append: '/bio-photo.jpg' %}
    {% endif %}
    <div class="row no-gutters">
        <div class="col-xs p-3">
            <img src="{{ photo_link }}" class="card-img border border-dark lab-img-square"
                alt="{{ person.name }}" {% if site.enable_lazy_loading %}loading="lazy" {% endif %}>
        </div>
        <div class="col">
            <div class="card-body p-3">
                <a class="h5 card-title" href="/team/{{ person.name | slugify }}">{{ person.name }}</a>
                <p class="card-subtitle mt-2 text-muted">{{ person.info }}</p>
                <hr>
                <p class="card-text">
                    {% if person.url %}
                    <a href="{{ person.url }}" target="_blank">Website</a>
                    {% endif %}
                    {% if person.linkedin %}
                    <a href="{{ person.linkedin }}" target="_blank">LinkedIn</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>