---
layout: content
---
<script>
  // Array of publication IDs
  var publicationIds = [];

  // State of publication IDs (loaded or not loaded)
  var publicationsLoaded = false;
</script>
{{ content }}
<script>
  // Removes DOI from reference (if enabled)

  const removeDoi = false;

  if (removeDoi) {
    for (var i = 0; i < publicationIds.length; i++) {
      var reference = $('#' + (publicationIds[i] || '')).children();
      for (var j = 0; j < reference.length; j++)
        reference[j].innerHTML = reference[j].innerHTML.replace(/(https?:\/\/)?doi.org\S+/gim, '');
    }
  }

  // Set publication status as loaded
  publicationsLoaded = true;

  // Enable search bar
  $('#searchBar').show();
</script>