---
layout: content
---
<script>
  // Array of publication IDs
  var publicationIds = [];
  var highlightedPublicationIds = [];
</script>
{{ content }}
<script>
  // Remove DOI from reference
  const removeDoi = false;

  if (removeDoi) {
    for (const entry in publicationIds) {
      var reference = document.getElementById('parent-{{entry.key}}').children;
      for (var i = 0; i < reference.length; i++)
        reference[i].innerHTML = reference[i].innerHTML.replace(/(https?:\/\/)?doi.org\S+/gim, '');
    }
    for (const entry in highlightedPublicationIds) {
      var reference = document.getElementById('parent-grid-{{entry.key}}').children;
      for (var i = 0; i < reference.length; i++)
        reference[i].innerHTML = reference[i].innerHTML.replace(/(https?:\/\/)?doi.org\S+/gim, '');
    }
  }
</script>