---
---

<script>
function removeDoi{{entry.key}}() {
}
</script>

<div id="parent-{{ entry.key }}" class="text-justify">{{reference}}</div>

{% if entry.owner %}
 <img src="{{ entry.owner }}" width="70" align="middle" />
{% endif %}

{% if entry.note %}
    <strong>{{entry.note}}</strong>
{% endif %}

<button class="button0" onclick="toggleBibtex{{entry.key}}()">Bibtex</button>

{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="button1" type="button" value="DOI" /></a>
{% endif %}
 
{% if entry.pdf %}
    <a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.pdf }}"  target="_blank"><input class="button2" type="button" value="PDF" /></a>
{% endif %}
 
{% if entry.link %}
    <a href="{{ entry.link }}" target="_blank"><input class="button4" type="button" value="Video" /></a>
{% endif %}
 
{% if entry.code %}
    <a href="{{ entry.code }}" target="_blank"><input class="button3" type="button" value="Code" /></a>
{% endif %}

<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
// Remove DOI from reference
var removeDoi = true;

if (removeDoi) {
var reference = document.getElementById('parent-{{entry.key}}').children;
for(var i = 0; i < reference.length; i++)
    reference[i].innerHTML = reference[i].innerHTML.replace(/(https?:\/\/)?doi.org\S+/gim, '');
}

function toggleBibtex{{entry.key}}(parameter) {
    var x = document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>