---
---
<div id="{{ entry.key }}" class="row my-2">
    {% if entry.image %}
    {% assign highlight_img = entry.image %}
    {% else %}
    {% assign highlight_img = 'default.png' %}
    {% endif %}

    {% assign img_column_class = "col-md-3" %}
    {% assign info_column_class = "col-md-9" %}
    <div class="card m-1">
        <div class="row no-gutters">
            <div class="col-xs p-3" href="{% link _pages/publications.md %}{{ entry.key }}">
                <img src="{{site.dir_resources_images | relative_url }}/supplemental/{{ highlight_img }}"
                    class="card-img border border-dark lab-img-square" {% if site.enable_lazy_loading %}loading="lazy"
                    {% endif %}>
            </div>
            <div class="col">
                <div class="card-body p-3">
                    <a id="{{ entry.key }}-title" class="h5 card-title" href="{% link _pages/publications.md %}{{ entry.key }}"
                        target="_blank">{{ entry.title }} ({{ entry.author_0_last }}
                        et al. {{ entry.year }})</a>
                    <p class="card-text">
                        <p id="{{ entry.key }}-reference"><em>{{ reference }}</em></p>
                        <p><strong><a href="{{ publi.link.url }}" target="_blank">{{ publi.link.display }}</a></strong>
                        </p>

                        <button class="btn btn-dark" onclick="$('#bibtex-{{ entry.key }}').toggle()">BibTeX</button>

                        {% if entry.doi %}
                        <a href="http://doi.org/{{ entry.doi }}" target="_blank">
                            <input class="btn btn-outline-dark" type="button" value="DOI" />
                        </a>
                        {% endif %}

                        {% if entry.pdf %}
                        <a href="{{ site.dir_resources_publications | relative_url }}/{{ entry.pdf }}" target="_blank">
                            <input class="btn btn-outline-dark" type="button" value="PDF" />
                        </a>
                        {% endif %}

                        {% if entry.code %}

                        {% if entry.code contains "/" %}
                        {% assign entry_code = entry.code %}
                        {% else %}
                        {% assign entry_code = site.dir_resources_files | relative_url | append: "/supplemental/" | append: entry.code %}
                        {% endif %}

                        <a href="{{ entry_code }}" target="_blank">
                            <input class="btn btn-outline-dark" type="button" value="Code" />
                        </a>
                        {% endif %}

                        {% if entry.video %}

                        {% if entry.video contains "/" %}
                        {% assign entry_video = entry.video %}
                        {% else %}
                        {% assign entry_video = site.dir_resources_videos | relative_url | append: "/supplemental/" | append: entry.video %}
                        {% endif %}

                        <a href="{{ entry_video }}" target="_blank">
                            <input class="btn btn-outline-dark" type="button" value="Video" />
                        </a>
                        {% endif %}

                        {% if entry.link %}
                        <a href="{{ entry.link }}" target="_blank">
                            <input class="btn btn-outline-dark" type="button" value="Link" />
                        </a>
                        {% endif %}

                        {% if entry.note %}
                        <strong id="{{ entry.key }}-optional-note">{{entry.note}}</strong>
                        {% endif %}
                    </p>

                    <div id="bibtex-{{entry.key}}" style="display: none;">
                        <pre>{{entry.bibtex}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        if (publications)
            publications.push({{entry | json | replace: '"=>', '":'}});
    </script>
</div>